---
layout: compress
title: Beyond Similarity
description: Willian Werner's personal blog
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include load_tags.html %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/modern-blog.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146140115-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-146140115-1');
    </script>
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            displayMath: [ ['$$','$$'] ],
            inlineMath: [['$','$']],
          }
        });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/lepture/github-cards@latest/jsdelivr/widget.js"></script>
    
</head>
<body class="body">
<div class="sidebar">
    <nav class='top'>
        <h4 id='name'>Willian Werner A. Costa</h4>
        <h6 id="description">
            B.E. of Computer Eng. at USP
        </h6>
        <img src="img/profile.jpg" id="profile_photo">
    </nav>
    <nav class="links">
        <div>
            <a data-toggle="tooltip" data-placement="bottom" title="Kaggle" href="https://www.kaggle.com/willianw">
                <i class="fab fa-kaggle fa-2x fa-fw"></i>
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Stack Overflow" href="https://stackoverflow.com/users/9771745/willian-angelo">
                <i class="fab fa-stack-overflow fa-2x fa-fw"></i>
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Github" href="https://github.com/willianw">
                <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Medium" href="https://medium.com/@willianwerner">
                <i class="fab fa-medium fa-2x fa-fw"></i>
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="https://www.linkedin.com/in/willian-werner-9759599a/">
                <i class="fab fa-linkedin fa-2x fa-fw"></i>
            </a>
            <a id="button-cv" data-toggle="tooltip" data-placement="bottom" title="Personal CV" href="#">
                <i class="far fa-address-card fa-2x fa-fw"></i>
                <span>Resume/CV</span>
            </a>
        </div>
    </nav>
    <nav class="middle">
        <h2><a href="#" name="">Categories</a></h2>
    </nav>
    <nav class="categories">
        <table>
        {% for count_with_cat in counts_with_cats %}
            {% assign cat = count_with_cat | split:":" | last %}
            {% assign count = site.categories[cat] | size %}
            <tr>
                <td class='cat'>
                    <a href="#" name="{{ cat | slugify }}">
                        {{ cat | capitalize }}
                    </a>
                </td>
                <td class='count'>
                    <span>{{ count }}</span>
                </td>
            </tr>
        {% endfor %}
        </table>
    </nav>
    <nav class="bottom"></nav>
</div>
<embed id="cv" src="assets/CV.pdf" type="application/pdf"/>
<div class="container">
    <div class="sidebar_mobile">
        <a data-toggle="tooltip" data-placement="bottom" title="Kaggle" href="https://www.kaggle.com/willianw">
            <i class="fab fa-kaggle fa-2x fa-fw"></i>
        </a>
        <a data-toggle="tooltip" data-placement="bottom" title="Stack Overflow" href="https://stackoverflow.com/users/9771745/willian-angelo">
            <i class="fab fa-stack-overflow fa-2x fa-fw"></i>
        </a>
        <a data-toggle="tooltip" data-placement="bottom" title="Github" href="https://github.com/willianw">
            <i class="fab fa-github fa-2x fa-fw"></i>
        </a>
        <a data-toggle="tooltip" data-placement="bottom" title="Medium" href="https://medium.com/@willianwerner">
            <i class="fab fa-medium fa-2x fa-fw"></i>
        </a>
        <a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="https://www.linkedin.com/in/willian-werner-9759599a/">
            <i class="fab fa-linkedin fa-2x fa-fw"></i>
        </a>
        <a id="button-cv" data-toggle="tooltip" data-placement="bottom" title="Personal CV" href="#">
            <i class="far fa-address-card fa-2x fa-fw"></i>
            <span>Resume/CV</span>
        </a>
    </div>
    <header class="header">
        <h1>
            <img src="img/favicon.png"/>
            {{ page.title }}
        </h1>
        <span>{{ page.description }}</span>
    </header>
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            {% for post in site.posts %}
            <a href="{{ post.url }}">
                <div class="card" data-id="{{ post.id }}" category="{{ post.category | slugify }}"
                    style="background-image: url('/img/posts/{{ post.path | remove: '.md' | split: '/' | last }}/{{ post.image }}')">
                    <div class="card__tags">
                        {% for tag in post.tags %}
                            <div>{{ tag | downcase }}</div>
                        {% endfor %}
                    </div>
                    <div class="card__title"><p>{{ post.title }}</p></div>
                    <div class="card__subtitle">{{ post.subtitle }}</div>
                </div>
            </a>
            {% endfor %}
            <!-- /cards -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- JS -->
<script src="js/vendors/trianglify.min.js"></script>
<script src="js/vendors/TweenMax.min.js"></script>
<script src="js/vendors/ScrollToPlugin.min.js"></script>
<script src="js/vendors/cash.min.js"></script>
<script src="js/modern-blog.js"></script>
</body>
</html>
