---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.subtitle }}"/>
    <meta name="keywords" content="{{ page.tags }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/post.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/agate.min.css">
    

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146140115-1"></script>
    <script src="/js/vendors/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-146140115-1');
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            jax: ["input/TeX","output/NativeMML"],
            displayMath: [ ['$$','$$'] ],
            inlineMath: [['$','$']],
          }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    

    <title>{{ page.title }}</title>
</head>

{% capture img_path %}/img/posts/{{ page.relative_path | remove: '.md' | split: '/' | last }}/{% endcapture %}

<body class="body" name="{{ img_path }}" style="background-image: url({{ img_path }}{{ page.image }});">
    <div id="full"></div>
    <div class="container">
        <div class="header">
            <a href="/"><h1>Beyond Similarity</h1></a>
        </div>
        <div class="content">
            <header>
                <h1>{{ page.title }}</h1>
                <span>{{ page.subtitle }}</span>
            </header>
            {{ content }}
        </div>
    <!-- /container -->
    </div>

    <script src="/js/vendors/trianglify.min.js"></script>
    <script src="/js/modern-blog-post.js"></script>
    <script src="/js/vendors/gh-cards.js"></script>

</body>
</html>
